.container {
  max-width: $grid-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-start;

  .item {
    background-color: purple;
    flex: 0 0 calc((100% - 11 * #{$gutter-horizontal}) / 12);

    &:not(:nth-child(12n)) {
      margin-right: $gutter-horizontal;
    }
  }
}